*{
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.espacio{
    padding: 10px;
}
.linea{
    border: 2px red solid;
}
.linea1{
    border: 2px orange solid;
}
.imagen{
    width: 100%;
}
.imagen1{
    width: 100px;
}
.espacio{
    margin: 30px;
}
.color1{
    background: orange;
}
.color2{
    background: orangered;
}